.clickedApproachRow
{
    background-color: black;
    color: white;
    font-style: italic;
}

.clickedApproachRow td:nth-of-type(1)
{
    padding-left: 3%;
}

.clickedOperationRow 
{
    background-color: black;
    color: white;
    font-weight: bold;
}

.clickedProccessRow 
{
    background-color: black;
    color: white;
    font-weight: bold;
}

.process
{
    font-weight: bold;
}

.operation
{
    font-weight: bold;
}

.approach
{
    font-style: italic;
}

.approach td:nth-of-type(1)
{
    padding-left: 3%;
}

#processTable
{
    width:100%;
    padding-top: 2%;
    border-spacing: 0;
}

#processTable thead td
{
   border-color: black;
   border: solid thin;
   text-align: center;
}

#processTable tr
{
    cursor:pointer;
}

#actionsTable
{
    width:100%;
    padding-top: 2%;
    border-spacing: 0;
}

#actionsTable thead td
{
   border-color: black;
   border: solid thin;
   text-align: center;
}

#actionsTable tr
{
    cursor:pointer;
}





.toolbarIcons
{
    height:95%;
    cursor:pointer;
}

.toolbarIcons:hover
{
    background-color: #4ca9a9;
}

.toolbarIcons[pressed="pressed"]
{
    background-color: #4ca9a9;
}

.toolbarConteiner
{
    position:relative; 
    padding-top:1%;
    padding-left:1%;
}

div
{
    position:absolute;
}
#processTreeFieldDiv
{
	height:97%;
	width:33%;
	//background-color:black;
	left:0%;
	top:3%;
        border-right: solid thin;
}

#processTreeToolbarDiv
{
	height:3%;
	width:33%;
	left:0%;
	top:0%;
	//background-color:green;
}

#videoFieldDiv
{
	height:54.3%;
	width:51%;
	left:33%;
	top:0%;
	background-color:black;
}
#timeDiv
{
	height:54.3%;
	width:16%;
	left:84%;
	top:0%;
        border-bottom: solid thin;
	//background-color:silver;
}

#actionsToolbarDiv	
{
	height:3%;
	width:67%;
	left:33%;
	top:54.2%;
	//background-color:pink;
}

#actionsDiv
{
	height:43%;
	width:67%;
	left:33%;
	top:57%;
	//background-color:gold;
}