<html>
	<head>
		<meta charset="utf-8"/>
		<link href="css/style.css" rel="stylesheet">
		<script src="js/script.js"></script>
	</head>
	<body>
            <div id="processTreeToolbarDiv">
                <div class="toolbarConteiner">
                    <img class="toolbarIcons" src="img/plusBig.png"></img>
                    <img class="toolbarIcons" src="img/plusSmall.png"></img>
                    <img class="toolbarIcons" src="img/pencil.png"></img>
                </div>
            </div>
                <div id="processTreeFieldDiv"> 
                    <table id="processTable">
                        <thead>
                            <tr>
                                <td>Название</td>
                                <td>Комментарий</td>
                                <td>Дата обновления</td>
                            </tr>
                        </thead>
                        <tbody id="processTableBody"> 
                        </tbody>
                    </table>
                </div>
		<div id="videoFieldDiv">
			<video id="videoField" src="" width="100%" height="100%"></video>
		</div>
		<div id="timeDiv"></div>
		<div id="actionsToolbarDiv">
			<div  class="toolbarConteiner">	
				<img class="toolbarIcons" src="img/plusBig.png"></img>
				<img class="toolbarIcons" src="img/plusSmall.png"></img>
				<img class="toolbarIcons" src="img/pencil.png"></img>
				<img onclick="onBackward(); return false;" class="toolbarIcons" src="img/backward.png"></img>
				<img id="playButton" onclick="onPlayPause();return false;" class="toolbarIcons" src="img/play.png"></img>
				<img onclick="onForward();return false;" class="toolbarIcons" src="img/forward.png"></img>
				<img id="0125" onclick="onSpeed(0.125,this);return false;" class="toolbarIcons" src="img/0125.png"></img>
				<img id="025" onclick="onSpeed(0.25,this);return false;" class="toolbarIcons" src="img/025.png"></img>
				<img id="1" onclick="onSpeed(1,this);return false;" class="toolbarIcons" src="img/1x.png"></img>
				<img id="2" onclick="onSpeed(2,this);return false;" class="toolbarIcons" src="img/2x.png"></img>
			</div>
		</div>
                <div id="actionsDiv">
                    <table id="actionsTable">
                        <thead>
                            <tr>
                                <td>Название</td>
                                <td>Комментарий</td>
                                <td>Фактическое время</td>
                                <td>Расчетное время</td>
                                <td>Дата обновления</td>
                                <td>Позиция</td>
                            </tr>
                        </thead>
                        <tbody id="actionsTableBody"> 
                        </tbody>
                    </table>
                </div>
	</body>
</html>
